@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Voltaire&display=swap");
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type=reset],
input[type=button],
input[type=submit] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* __________________ */
:root[data-theme=white] {
  --body-bg-color: white;
  --post-main-color: #b54f4f;
  --post-second-color: #4361ee;
  --post-bg-color: #03aa837b;
  --post-text-color: #3a0ca3;
  --text-second-color: #4361ee4d;
}

:root[data-theme=dark] {
  --body-bg-color: #606060;
  --post-main-color: #a8a8a8;
  --post-second-color: #90a4ff;
  --post-bg-color: #bffff07a;
  --post-text-color: #c6adff;
  --text-second-color: #d7ddf8;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-family: "Voltaire", sans-serif;
  background-color: #141C24;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.title .before-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: #57D6FF;
}
.title .before-title .line {
  width: 3.125rem;
  border-bottom: 1px solid #57d6ff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.title .main-title {
  color: #fff;
  font-size: 2.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.download span {
  cursor: pointer;
  padding-bottom: 5px;
  color: #57D6FF;
  font-weight: 500;
  border-bottom: 1px solid #57D6FF;
}

.top-header {
  padding: 3rem 0;
}

.navbar .navbar-brand {
  color: #57D6FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-size: 1.5rem;
}
.navbar .navbar-nav {
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navbar .navbar-nav a {
  color: rgba(255, 255, 255, 0.6745098039);
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}
.navbar .navbar-nav a:hover {
  color: #fff;
  border-color: #00C5FF;
}

.hero {
  padding: 0 3rem 4rem;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 1px;
  background-color: #fff;
  bottom: -20px;
  right: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.hero .hero-slider {
  border: 0.5px solid #57d6ff;
  border-top: 0;
  background: radial-gradient(96.01% 49.95% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background: radial-gradient(96.01% 49.95% at 50.05% 49.91%, rgba(82, 125, 139, 0) 0%, rgba(82, 125, 139, 0.25) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  -webkit-box-shadow: 0px 0px 47px 0px rgba(87, 214, 255, 0.5);
  box-shadow: 0px 0px 47px 0px rgba(87, 214, 255, 0.5);
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  -webkit-border-radius: 0px 0px 20px 20px;
}
.hero .hero-slider img {
  aspect-ratio: 16/9;
}
.hero .hero-text {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  text-align: center;
}
.hero .hero-text h1 {
  font-size: clamp(1rem, 10vw, 3rem);
}
.hero .hero-text h3 {
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.hero .hero-text button {
  padding: 0.9rem 4rem;
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 0px 28px 0px 0px/0px 28px 0px 0px;
  margin-top: 40px;
}

.info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4.7rem;
}
.info .info-img img {
  width: 30rem;
}
.info .info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: white;
}
.info .info-text .instriction {
  max-width: 30rem;
  color: #ababab;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 150%;
}

.quickstart {
  margin: 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quickstart .instruction-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1f1f1;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.quickstart .instruction-items .instruction-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 20px;
}
.quickstart .instruction-items .instruction-item p {
  font-size: 1.33313rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}
.quickstart .instruction-items .line {
  background-color: #57D6FF;
  height: 1px;
  width: 4.5rem;
  margin-top: 5%;
}

.subs {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
.subs .title {
  -ms-flex-item-align: center;
      align-self: center;
}
.subs .suds-items .sub-item {
  padding: 3rem 2.5rem;
  border-radius: 0.3125rem;
  color: #fff;
  background: #1f2631;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  min-height: 435px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.subs .suds-items .sub-item h4 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subs .suds-items .sub-item span {
  font-size: 1.5rem;
  font-weight: 500;
}
.subs .suds-items .sub-item p {
  color: #ababab;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.33313rem;
  font-weight: 300;
  line-height: 150%;
}
.subs .suds-items .sub-item button {
  padding: 5px 20px;
  background-color: #00C5FF;
  color: #141c24;
  font-size: 1rem;
  font-weight: 400;
  line-height: 180%;
}
.subs .suds-items .sub-item:hover {
  background-color: #00C5FF;
  color: #141c24;
}
.subs .suds-items .sub-item:hover p {
  color: #141c24;
}
.subs .suds-items .sub-item:hover button {
  background-color: #141c24;
  color: white;
}

.example {
  position: relative;
  margin: 6rem 0;
  height: 50rem;
}
.example .example-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  width: 60ch;
}
.example .example-text p {
  color: #ababab;
  font-size: 1.33313rem;
  font-weight: 300;
  line-height: 150%;
}
.example .example-img img {
  position: absolute;
  right: 0;
}
.example .example-img img:first-of-type {
  top: 18rem;
}
.example .example-img img:nth-of-type(2) {
  top: 20px;
  z-index: 2;
}
.example .example-img img:last-of-type {
  z-index: 0;
}

footer {
  font-size: 0.75rem;
  background-color: #171717;
  padding: 1rem 7rem;
}
footer .navbar-text {
  color: #838383;
}

@media (max-width: 991px) {
  .instruction-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 500px;
    gap: 0.5rem !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .instruction-items .instruction-item {
    width: 10rem;
  }
  .instruction-items .line:nth-last-of-type(2) {
    display: none;
  }
  .navbar-nav {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    margin-top: 20px;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 30;
    background-color: #141c24;
    padding: 3rem 1rem 5rem 5rem;
    border-radius: 1rem;
    font-weight: bold;
    gap: 10px !important;
  }
  .hero-text .hero-text {
    -webkit-transform: scale(0.7) !important;
        -ms-transform: scale(0.7) !important;
            transform: scale(0.7) !important;
  }
  .example {
    height: inherit;
  }
  .example .container {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .example img {
    display: none;
  }
  .info {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
}/*# sourceMappingURL=style.css.map */